# Runtime folders
/build/
/output/

# LaTeX auxiliary files
/report/rs_report.aux
/report/rs_report.bbl
/report/rs_report.blg
/report/rs_report.log
/report/rs_report.tex.backup

# Data folders
/data/mansion_image/
/data/mansion_image_resized/
/data/mansion_image_short/
/data/skysat_lasvegas_rectified/
/data/skysat_video_port_hedland/
